{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block content %}
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">


          <h3 id="form-title"><img src="{% static 'images/favicon.ico' %}" > Todo App</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form method="POST" action="">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}" />
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>

              <input type="text" autocomplete="username" name="username" placeholder="Username..." class="form-control">
            </div>

            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" autocomplete="current-password" name="password" placeholder="Password..." class="form-control">
            </div>

            <div class="d-flex justify-content-center mt-3 login_container">
              <input class="btn login_btn" type="submit" value="Login">
            </div>
          </form>

        </div>

        {% for message in messages %}
        <p id="messages" class="text-white bg-danger d-flex justify-content-center">{{message}}</p>
        {% endfor %}

        <div class="mt-4">
          <div class="d-flex justify-content-center">
            <h6>Don't have an account? Contact us</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}