{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock title %} 
{% block content %} 
{% include 'navbar.html' %}
<br>
<div class="container">
  <div class="row">
    <div class="d-flex col-md-3 text-center">
      <div class="card card-body">
        <a class="btn btn-warning" href="/"> &#8592; Back to Dashbaord</a>
        <hr />
        <h3>Profile</h3>
        <hr />
        <img id="profile_avatar" class="rounded-circle img-fluid" width="150" src="{{login_user.avatar.url}}"/>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
        <input class="btn btn-primary" type="submit" name="Update Information">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

