{% extends 'base.html' %}
{% block title %}
All Task
{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<br>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>All Task</h5>
    </div>
    <br>
    <div class="card card-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Remaining</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          {% for task in all_task %}
          <tr>
            <td>{{task.title}}</td>
            <td>{{task.status}}</td>
            <td>{{task.user.user.username}}</td>
            <td>{{task.descriptionSnipp}}</td>
            <td>{{task.due_date}}</td>
            <td>{{task.calculate_time}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'tasks:view_task' task.id %}">View</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock content %}
