{% extends 'base.html' %}
{% load static %}
{% block title %}
New Task
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %}

        {{form|crispy}}

        <input class="btn btn-success" type="submit" name="Submit">
        <a class="btn btn-outline-danger" href="/">Cancel</a>
      </form>
    </div>
    <br>
  </div>
</div>
{% endblock %}
