{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Are you sure you want to delete "{{task.title}}"?</p>
      <form class="" action="{% url 'tasks:delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-outline-warning" href="{% url 'tasks:task_list' %}">Cancel</a>
        <input class="btn btn-danger" type="submit" name="Confirm">
      </form>
    </div>

  </div>

</div>

{% endblock %}