{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    {% include 'navbar.html'%}
    {% include 'tasks/status.html' %}
<div class="row container-fluid">
  <div class="col-md-7">
    <h5>My Task</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'tasks:create_task' user.id %}">Create Task</a><br>
      <table class="table table-sm">
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Remaining</th>
          <th>View</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for mytask in my_task %}
        <tr>
            <td>{{mytask.title}}</td>
            <td>{{mytask.status}}</td>
            <td>{{mytask.calculate_time}}
            <td><a class="btn btn-sm btn-outline-info" href="{% url 'tasks:view_task' mytask.id %}">View</a></td>
            <td><a class="btn btn-sm btn-outline-success" href="{% url 'tasks:update_task' mytask.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-outline-danger" href="{% url 'tasks:delete_task' mytask.id %}">Delete</a></td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>

  <div class="col-md-5">
    <h5>All Task</h5>
    <hr>
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Created By</th>
          <th>View</th>
        </tr>

        {% for task in all_task %}
        <tr>
          <td>{{task.title}}</td>
          <td>{{task.status}}</td>
          <td>{{task.user.user.username}}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'tasks:view_task' task.id %}">View</a></td>
        </tr>
        {% endfor %}

      </table>
    </div>
    <br>
  </div>
</div>
{% endblock content %}