<br>

<div class="row container-fluid">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="task-started">
        <div class="card-header">
          <h5 class="card-title">Started</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{task_started}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="task-pending">
        <div class="card-header">
          <h5 class="card-title">Pending</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{task_pending}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="task-finished">
        <div class="card-header">
          <h5 class="card-title">Finished</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{task_finished}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
