{% extends 'base.html' %}
{% block title %}
Task Detail
{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="card card-body">
        <a class="btn btn-warning" href="/"> &#8592; Back to Dashbaord</a>
        <br>
        <h3 class="display-4 text-info">{{task.status}}</h3>
       </div>
    </div>
    <br/>
    <div class="col-md-9">
      <div class="card card-body">
        <table class="table">
          <tbody>
            <tr>
              <th>Title</th>
              <td>{{task.title}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{task.description}}</td>
            </tr>
            <tr>
              <th>Due Date</th>
              <td>{{task.due_date}} , {{task.calculate_time}}</td>
            </tr>
            <tr>
              <th>Created By</th>
              <td>{{task.user.user.username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock content %}