{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks:task_list' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks:my_task' %}">My Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks:all_task' %}">All Task</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="{% if user.is_authenticated %}
                    {% url 'accounts:logout' %}
                {% else %}
                    {% url 'accounts:login' %}
                {% endif %}" method="POST">
      {% csrf_token %}
      <label class="mr-sm-2">
        {% if user.is_authenticated %}
          Hello, {{login_user.firstname.capitalize}}
        {% else %}
          Your are not Login
        {% endif %}
      </label>
      <div class="btn-group">

        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id="login_user_avatar" class="img-fluid" src="
          {% if login_user.avatar %}
            {{login_user.avatar.url}}
          {% endif %}
          " />
        </button>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'accounts:profile' user.id %}">Profile</a>
          {% if user.is_authenticated %}
            <div class="dropdown-divider"></div>
            <input class="dropdown-item" value="Logout" type="submit"/>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</nav>
